<div class="container">
  <div class="row">
    <h1 class="text-center">Test your knowledge</h1>
    <h1 class="text-center">What are the 2 things you should always
double-check before sending Ether?</h1>
  </div>
  <br />
  <br />
  <div class="row">
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-class="{'btn-primary': !yourwalletquizCtrl.isAddButton1, 'btn-success': yourwalletquizCtrl.isAddButton1}" ng-click="yourwalletquizCtrl.toggleClass1(); yourwalletquizCtrl.correctAnswer1()">the address you are sending Ether to</button>
    <br />
    <button type="button" class="btn btn-lg btn-block" ng-class="{'btn-primary': !yourwalletquizCtrl.w1, 'btn-danger': yourwalletquizCtrl.w1}" ng-click="yourwalletquizCtrl.wrongAnswer1()">your wallet’s private key</button>
    <br />
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-class="{'btn-primary': !yourwalletquizCtrl.isAddButton2, 'btn-success': yourwalletquizCtrl.isAddButton2}" ng-click="yourwalletquizCtrl.toggleClass2(); yourwalletquizCtrl.correctAnswer2()">the amount of Ether you are sending</button>
    <br />
    <button type="button" class="btn btn-lg btn-block" ng-class="{'btn-primary': !yourwalletquizCtrl.w2, 'btn-danger': yourwalletquizCtrl.w2}" ng-click="yourwalletquizCtrl.wrongAnswer2()">the gas limit</button>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col-lg-12 text-center">
      <a ng-show="yourwalletquizCtrl.bothAnswered()" ui-sref="congratulations" class="btn btn-lg btn-default">NEXT STEP</a>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">90%</div>
    </div>
  </div>
</div>
